* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fffaf0;
}


body {
    display: flex;
    flex-direction: column;

    background-color: #191919;
    padding: 3%;
    max-width: 3000px;
}

.logo-text {
    font-size: 6rem;
    color: #38D16F;
}

#introduction {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

#img-half {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 3%

}

#img-border {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    border-radius: 50%;
    background: radial-gradient(#191919, #38D16F);
}

#profile-img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    padding: 10%;
}

#text-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    width: 50%;
    padding: 3%;
}

#text-half h1 {
    font-size: 2.5rem;
    padding: 3%;
}

#text-half h1 span {
    color: #38D16F
}

#text-half div {
    padding: 3%;
}

#text-half div h3{
    padding-bottom: 3%;
}

#text-half div hr {
    border: 3px solid #38D16F;
}

#nav-links {
    display: flex;
    justify-content:space-between;
    max-width: 60%;
    min-width: 60%;
}

#nav-links a {
    text-decoration: none;
}

#about-me {
    display: flex;
    flex-direction: row;
}

#logo-section {
    width: 50%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

#about-me-logo {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    text-align: end;
}

#about-me-logo h1 {
    width: 5ch;
    padding: 10%;

    border-bottom-style: solid;
    border-bottom-color:#38D16F;
    border-bottom-width: 5px;
    border-right-style: solid;
    border-right-color:#38D16F;
    border-right-width: 5px;
}

#resume {
    display: flex;
    justify-content: center;
    padding: 10%;
    text-align: center;
}

#resume h3 {
    width: 15ch;
}

#resume span {
    color:#38D16F;
}

#resume a {
    text-decoration: none;
}

#text-section {
    width: 50%;
}

#text-section {
    padding: 3%;
}


@media (max-width: 900px) {
    #introduction {
        flex-direction: column-reverse;
    }

    #img-half {
        width: 100%;
        padding-top: 15%
    }

    #text-half {
        width: 100%;
        padding-top: 15%;
    }
}